* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../Roboto-Medium.ttf);
}

@font-face {
    font-family: "HappySchool";
    src: url(../HappySchool.ttf);
}

/* @media itu adalah selector, yang mana akan melakukan perintah dari class
jika syarat yang ditulis terpenuhi */

/* UNTUK HAPE: */
@media only screen and (max-width: 600px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

/* UNTUK TABLET: */
@media only screen and (min-width: 600px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* UNTUK DESKTOP: */
@media only screen and (min-width: 768px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* CSS WARNA */

body {
    background-color: #7ecfc0;
    background-size: cover;
}

.hijau {
    background-color: #207561;
}

.hijaumuda {
    background-color: #589167;
}

.hijauputih {
    background-color: #A0CC78;
}

.orange {
    background-color: #DA4302;
}

.merah {
    background-color: #db2d43;
}


/* CSS POSISI */

.tengah {
    text-align: center;
}

.lengkung {
    border-radius: 4px;
}

.kanan {
    text-align: right;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* CSS STYLE */

input[type=submit] {
    border-radius: 5px;
    border: 0px;
    background: #ff8260;
    color: #e8ecd6;
    font-family: "Roboto";
}

.centerbutton {
    display: flex;
    justify-content: center;
}

.zoom:hover {
    transform: scale(1.1);
    transition: transform .6s ease;
}

.zoom2:hover {
    transform: scale(1.25);
    transition: transform .6s ease;
}

.inputusername {
    text-align: center;
    border-radius: 4px;
    width: 200px;
    height: 35px;
    box-shadow: none;
}

.usernamedisplay {
    color: #e8ecd6;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: "HappySchool";
    margin: auto;
    padding-top: 23px;
    text-shadow: 0px 0px 20px #596c68;
    opacity: 0.78;
    transition: 0.3s;
}

.usernamedisplay:hover {
    opacity: 1.1;
}

.gobutton {
    text-align: center;
    width: 200px;
    height: 35px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.gobutton:hover {
    background: #fc592c;
    color: #e8ecd6;
}

.backbutton {
    background-color: #ef4b4b;
    border: none;
    width: 50%;
    height: auto;
    border-radius: 7px;
    color: #e8ecd6;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "HappySchool";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.backbutton:hover {
    background-color: #e8ecd6;
    color: #ef4b4b;
}

.squarebutton {
    background-color: #f68787;
    border: none;
    width: 230px;
    height: auto;
    border-radius: 7px;
    color: #596c68;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "HappySchool";
}

.roundbutton {
    background-color: #f8a978;
    border: none;
    width: 230px;
    height: auto;
    border-radius: 7px;
    color: #596c68;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "HappySchool";
}

.trianglebutton {
    background-color: #f1eb9a;
    border: none;
    width: 230px;
    height: auto;
    border-radius: 7px;
    color: #596c68;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "HappySchool";
}

.rectanglebutton {
    background-color: #a4f6a5;
    border: none;
    width: 230px;
    height: auto;
    border-radius: 7px;
    color: #596c68;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "HappySchool";
}

.endsessionbutton {
    background-color: #fff8b5;
    border: none;
    width: 50%;
    height: auto;
    border-radius: 7px;
    color: #525d7e;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "HappySchool";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.endsessionbutton:hover {
    background-color: #525d7e;
    color: #fff8b5;
}

#square {
    background-color: #f68787;
    height: 130px;
    width: 130px;
    margin: auto;
    position: relative;
    border: 2px solid #596c68;
}

#round {
    background-color: #f8a978;
    height: 130px;
    width: 130px;
    margin: auto;
    position: relative;
    border: 2px solid #596c68;
    border-radius: 50%;

}

#triangle {
    width: 0;
    height: 0;
    margin: auto;
    position: relative;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid #596c68;
    padding: 0px;
}

#triangle::before {
    content: "";
    width: 0px;
    height: 0px;

    position: absolute;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 130px solid #f1eb9a;
    top: 13px;
    left: -65px;
    padding: 0px;
}

#rectangle {
    background-color: #a4f6a5;
    height: 130px;
    width: 200px;
    margin: auto;
    position: relative;
    border: 2px solid #596c68
}

.inputnumbersquare {
    text-align: center;
    border-radius: 4px;
    width: 130px;
    height: 30px;
    font-family: "Roboto";
    box-shadow: none !important;
}

.countbutton {
    background-color: #52d681;
    border: none;
    width: 160px;
    height: auto;
    border-radius: 7px;
    color: #fff8b5;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "HappySchool";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.countbutton:hover {
    background-color: #fff8b5;
    color: #52d681;
}

.newshapebutton {
    background-color: #f38181;
    border: none;
    width: 160px;
    height: auto;
    border-radius: 7px;
    color: #fbfbfb;
    padding: 15px 30px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "HappySchool";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.newshapebutton:hover {
    background-color: #fbfbfb;
    color: #f38181;
}

.clearbutton {
    background-color: #52d681;
    border: none;
    width: 160px;
    height: auto;
    border-radius: 7px;
    color: #fff8b5;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "HappySchool";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.clearbutton:hover {
    background-color: #fbfbfb;
    color: #f38181;
}


