* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../Roboto-Medium.ttf);
}

@font-face {
    font-family: "HappySchool";
    src: url(../HappySchool.ttf);
}
/* @media itu adalah selector, yang mana akan melakukan perintah dari class
jika syarat yang ditulis terpenuhi */

/* UNTUK HAPE: */
@media only screen and (max-width: 600px) {
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
}

/* UNTUK TABLET: */
@media only screen and (min-width: 600px) {
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}

/* UNTUK DESKTOP: */
@media only screen and (min-width: 768px) {
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row::after {
    content: "" ;
    clear: both;
    display: table;
}

/* CSS WARNA */

body {
    background-color: #7ecfc0;
    background-size: cover;
}

.hijau {
    background-color: #207561;
}

.hijaumuda {
    background-color: #589167;
}

.hijauputih {
    background-color: #A0CC78;
}

.orange {
    background-color: #DA4302;
}

.merah {
    background-color: #db2d43;
}


/* CSS POSISI */

.tengah {
    text-align: center;
}

.lengkung {
    border-radius: 4px;
}

.kanan {
    text-align: right;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* CSS STYLE */

input[type=submit] {
    border-radius: 5px;
    border: 0px;
    background: #ff8260;
    color: #e8ecd6;
    font-family: "Roboto";
}

.inputusername {
    text-align: center;
    border-radius: 4px;
    width: 200px; 
    height: 35px;
}

.gobutton {
    text-align: center;
    width: 200px; 
    height: 35px;
}

.gobutton:hover {
    background:#fc592c;
    color: #e8ecd6;
}

.backbutton {
    background-color: #ef4b4b;
    border: none;
    width: 50%;
    height: auto;
    border-radius: 7px;
    color: #e8ecd6;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:"HappySchool";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.backbutton:hover {
    background-color: #e8ecd6; /* Green */
    color: #ef4b4b;
}

.usernamedisplay {
    color:#bd574e ;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    font-family: "HappySchool";
}

.squarebutton {
    background-color: #f68787;
    border: none;
    width: 230px;
    height: auto;
    border-radius: 7px;
    color: #596c68;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family:"HappySchool";
}

.roundbutton {
    background-color: #f8a978;
    border: none;
    width: 230px;
    height: auto;
    border-radius: 7px;
    color: #596c68;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family:"HappySchool";
}

.trianglebutton {
    background-color: #f1eb9a;
    border: none;
    width: 230px;
    height: auto;
    border-radius: 7px;
    color: #596c68;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family:"HappySchool";
}

.rectanglebutton {
    background-color: #a4f6a5;
    border: none;
    width: 230px;
    height: auto;
    border-radius: 7px;
    color: #596c68;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family:"HappySchool";
}

.textshadow {
    text-shadow: 0px 0px 20px black;
}  